/* .gradient-background {
    background: linear-gradient(269deg,#002990,#00c3f5,#001e83);
    background-size: 180% 180%;
    animation: gradient-animation 2s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */


.gradient-background {
    background: linear-gradient(15deg, #002990, #00c3f5, #031d80, #0062b8);
    background-size: 240% 240%;
    animation: gradient-animation 12s ease;
}

.sign-in-background {
    background: linear-gradient(15deg, #002990, #00c3f5, #031d80, #0062b8);
    background-size: 240% 240%;
    background-position: 100% 50%;
    animation: gradient-animation 0s ease;

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate__animated.animate__zoomIn {
    --animate-duration: 5s;
  }